/*body{*/
/*    background-color: #011f1b;*/
/*    color:white;*/
/*    !*overflow: hidden;*!*/
/*}*/
/*h1{*/
/*    text-align: center;*/
/*}*/
/*.todo-wrapper{*/
/*    background: #02423f;*/
/*    padding: 2%;*/
/*    width: fit-content;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: 2%;*/
/*    max-height: 80%;*/
/*}*/
/*.todo-input{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border-bottom: 2px black;*/
/*    padding-bottom: 25px;*/
/*    margin-bottom: 25px;*/
/*}*/
/*.todo-input-item{*/
/*    height: 10px;*/
/*    margin-right: 25px;*/
/*    display: flex;*/
/*    flex-direction:column;*/
/*    align-items: flex-start;*/


/*}*/
/*.todo-input-item label{*/
/*    font-weight: bold;*/
/*    font-size: large;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.todo-input-item input:focus{*/
/*    outline: none;*/
/*    border: 2px solid green;*/
/*}*/
/*.primaryBtn{*/
/*    background-color: green;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 0px;*/
/*    margin-top: 25px;*/
/*    padding: 10px;*/
/*    width: 60px;*/
/*    cursor: pointer;*/
/*}*/
/*.primaryBtn:hover{*/
/*    background-color: #011f1b;*/
/* }*/
/*.Btn-Btn{*/
/*    background-color: rgb(4, 192, 104);*/
/*    color: white;*/
/*    border-radius: 0px;*/
/*    border: none;*/
/*    padding: 10px;*/
/*    width: fit-content;*/
/*    cursor: pointer;*/

/*}*/
/*.two-Btn .active{*/
/*    background-color: rgb(92, 92, 92);*/
/*}*/
/*.todo-list{*/
/*    margin: 2%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.Todo-list-item{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    background-color: #414040;*/
/*    padding: 20px;*/
/*    padding-top: 10px;*/
/*    padding-bottom: 10px;*/
/*    margin-bottom: 10px;*/
/*    box-shadow: 0px 1px 2px gray;*/

/*}*/
/*.Todo-list-item h3{*/
/*    font-size: 25px;*/
/*    color: green;*/
/*    font-weight: bold;*/
/*    margin: 0px;*/
/*}*/
/*.Todo-list-item p{*/
/*    margin-top: 8px;*/
/*    font-size: 14px;*/
/*    color: rgb(179, 178, 178);*/

/*}*/

/*.icon{*/
/*    color: white;*/
/*    font-size: 35px;*/
/*    cursor: pointer;*/
/*}*/

/*.icon:hover{*/
/*    color: red;*/

/*}*/
/*.check-icon{*/
/*    color: white;*/
/*    font-size: 35px;*/
/*    cursor: pointer;*/
/*}*/
/*.check-icon:hover{*/
/*   color: green;*/

/*}*/
/*.edit-icon{*/
/*    color: white;*/
/*    font-size: 35px;*/
/*    cursor: pointer;*/
/*}*/
/* App.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.App {
    text-align: center;
}

h1 {
    color: #333;
}

.todo-wrapper {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.todo-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-input-item {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.primaryBtn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.two-Btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Btn-Btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Btn-Btn.active {
    background-color: #4caf50;
    color: #fff;
}

.todo-list {
    margin-top: 20px;
}

.Todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.icon,
.check-icon,
.edit-icon {
    cursor: pointer;
    margin-left: 10px;
}

/* taskInputcss.css */
/* Add your specific styles for task input components here */


